header {
  text-align: center;
}

figure {
 text-align: center;
}
a {
  padding-left: 10px;
  padding-right:10px;
  background-color:orange;
}

figcaption {
  font-size: 8px;
}

p, #featuredproperty {
  width: 800px;
  text-align: center;
}