header {
  text-align: center;
}

figure {
 text-align: center;
}
a {
  padding-left: 10px;
  padding-right:10px;
  background-color:orange;
}

figcaption {
  font-size: 8px;
}

#featured-property p {
  text-align: center;
  width: 800px;
  margin-Left: 800px; 
  margin-right: 800px;
  
}

